body{
	margin: 0 auto;
	text-align: center;
}

h1{
	text-align: center;
}

.container {
	width:900px;
	height: 900px;
	background: black;
	margin: 20px auto;
}

.box{
	background:white;
	display: inline-block;
}

.orange {
	background:orange;
}